<form [formGroup]='userForm' (ngSubmit)='onSubmit()'>
<div class="form-group">
  <label>Name:
    <input formControlName='name' class="form-control">
  </label>
</div>

<div formArrayName='myFriends'>
    <div *ngFor="let friends of myFriends.controls;  let i=index" [formGroupName]="i" >
        <h4>Friend #{{i + 1}}</h4>
  
  <div class="form-group">
    <label>firstName:
      <input formControlName='firstName' class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>lastName
      <input formControlName='lastName' class="form-control">
    </label>
  </div>
<div>
  <textarea formControlName='narrative' cols="30" rows="10" class="form-control"></textarea>
</div>

<div  formArrayName='hobies'>
    <div *ngFor="let hobies of friends.controls.hobies.controls; let j=index" [formGroupName]="j" >
      <h4>Hobies #{{j + 1}}</h4>
    <div class="form-group">
      <label>Name:
        <input formControlName='name' class="form-control">
      </label>
    </div>
    <div>
        <textarea formControlName='narrative' cols="30" rows="10" class="form-control"></textarea>
      </div>
      <button (click)="removeHobies(i,j)" type="button" class="btn btn-danger">remove hobies</button>
  </div>
  
  <button (click)="addHobies(i)" type="button" class="btn btn-success">Add hobies</button>
  
 
</div>
<button (click)="removeFriend(i)" type="button" class="btn btn-danger">remove Friend</button>
  </div>
 
  <button (click)="addFriend()" type="button" class="btn btn-success">Add Friend</button>
  

</div>



<button class="btn btn-success">save</button>


</form>
